.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: var(--slack-color);
    color: #fff;
}
.header__left{
    flex:0.3;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
.header__left > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 30px;
}
.header__search{
    flex: 0.4;
    background-color: #421f44;
    text-align: center;
    display: flex;
    padding: 0 50px;
    color: gray;
border: 1px gray solid;
border-radius: 6px;
}
.header__search > input{
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    min-width: 35vw;
    color: #fff;
}
.header__right{
    flex:0.3;
    display: flex;
    align-items: flex-end;
}
.header__right > .MuiSvgIcon-root{
    margin-left: auto;
    margin-right: 20px;
}
.gc{
    background-color: green;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.sidebar{
    background-color: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 260px;
    color: #fff;
    flex: 0.3;
    overflow-y: scroll;
}
.zxcv{
    background-color: var(--slack-color) !important;
    color: #fff !important;
    border: none;
    box-shadow: none !important;
}
.sum{
    color: #fff;
}
.sum:hover{
    background-color: transparent !important;
}
.typo{
    font-size: 13px !important;
    font-weight: 400 !important;
}
.sidebar__header{
display: flex;
border-bottom: 1px solid #49274b;
align-items: center;
padding-bottom: 10px;
padding: 13px;
justify-content: space-between;
}
.sidebar__header > .MuiSvgIcon-root{
    padding: 4px;
    color: #49274b;
    font-size: 18px;
    background-color: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.sidebar__info{
    flex: 1;
}
.sidebar__info >h2{
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 5px;
}
.sidebar__info > h3{
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
   
}
.sidebar__info > h3 > .MuiSvgIcon-root{
    color: green;
    font-size: 14px;
    margin-right: 5px;
    
}
.sidebarOptions{
    display: flex;
    align-items: center;
    font-size:12px;
    padding-left: 2px;
    cursor: pointer;
    padding: 0.7rem;
}
.sidebarOptions:hover{
    opacity: 0.9;
    background-color: #340e36;
}
.sidebarOptions__icon{
    margin-right: 5px;
    font-size: 15px !important;
}
::-webkit-scrollbar{
    background-color:transparent;
}
.roll{
    overflow-y: scroll;
   height: 100px;

}

.sidebarOptions__channel{
    padding: 6px 0;

}
.sidebarOptions__hash{
    padding: 6px;
}
.sidebarOptions > h3{
    font-weight: 500;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #49274b;
}
.chat{
    flex: 0.7;
    flex-grow: 1;
    overflow-y: scroll;
  
    flex-direction: column;

  
}
.chat__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}
.chat__headerLeft > h4{
    display: flex;
    align-items: center;
}
.chat__channelName{
    display: flex;
    text-transform: lowercase;
}
.chat__channelName > .MuiSvgIcon-root{
    margin-left: 10px;
    font-size: 18px;
}
.chat__headerRight > p{
    display: flex;
    align-items: center;
    font-size: 14px;
}
.chat__headerRight > p > .MuiSvgIcon-root{
    margin-right: 5px !important;
    font-size: 16px;
}

.chat__messages{
    height:400px;
    overflow-y: scroll;
    background-color: #fff;
}
/* message section csss */

.message{
    display: flex;
    align-items: center;
    padding: 20px;

    background-color: #fff;
}
.message > img{
    height: 40px;
    width: 40px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 1rem;
}
.message__timestamp{
    color: gray;
    font-weight: 300;
    font-size: 13px;
    margin-left: 0.5rem;
}
.message__info{
    display: flex;
    flex-direction: column;
}
.message__info .sendimage{
    width:200px;
    height: 200px;
    object-fit: contain;
    margin: 0 0.5rem;
}
.message__info p{
    margin: 0.5rem 0;
}
.login{
    background-color: rgba(255, 255, 255, 0.973);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login__container{
    padding: 50px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
}
.login__container > img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;

}
.login__container > button{
    margin-top: 50px;
    text-transform: inherit !important;
    background-color: #0a8d48;
    color: #fff;
}

.chatInput form{
    display: flex;
    flex-direction: column;
    padding: 0.2rem 1.5rem;
    background-color: #fff;
}
.chatInput .in{
    width: 100%;
    padding: 0 !important;
    padding-left: 1rem;
}
.btns{
    display: flex;
    padding: 1rem;
    margin-top: 0.5rem;
    align-items: center;
    justify-content: space-between;
}
.btns .send{
    background-color: whitesmoke;
    margin: 0 1rem;
}
.choose{
    border: none;
    outline: none;
    background-color: aliceblue;
}
a{
    text-decoration: none;
    color: blue;
    cursor: pointer;
}