@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root{
--slack-color:#3f0f40;
}

.app{
    height: 100vh;
  overflow: hidden;
}
.app__body{
    display: flex;
    height: 100vh;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex:0.7;
    flex-direction: column;
 
}
.about img{
    width: 250px;
    height: 250px;
    object-fit: contain;
}